# Final Project Notebook

## Introduction
Welcome to my final project notebook. In this notebook, we will explore various aspects of data science.

## Data Science Languages
- Python
- R
- Julia
- SQL

## Data Science Libraries
- Pandas
- NumPy
- Matplotlib
- Seaborn
- Scikit-learn
- TensorFlow
- PyTorch

## Data Science Tools
| Tool        | Description                            |
|-------------|----------------------------------------|
| Jupyter     | Interactive computing environment      |
| VS Code     | Integrated development environment     |
| Spyder      | Scientific Python development IDE      |
| RStudio     | Integrated development environment for R|
| SQL Server  | Relational database management system |

## Arithmetic Expression Examples
Let's explore some basic arithmetic operations using Python.

In [2]:
# Multiply and add numbers
a = 5
b = 3
multiply_result = a * b
add_result = a + b
print("Multiplication result:", multiply_result)
print("Addition result:", add_result)

Multiplication result: 15
Addition result: 8

In [3]:
# Convert minutes to hours
minutes = 120
hours = minutes / 60
print("Hours:", hours)

Hours: 2.0

## Objectives
- Learn about data science languages and libraries
- Practice basic arithmetic operations in Python
- Gain familiarity with Jupyter notebooks

## Author
John Doe